<h1>Borderlands Manufacturers</h1>

<a href="/new">New Manufacturer</a>


<% @manufacturers_sorted.each do |manufac| %>
  <h3><a href="/manufacturers/<%= manufac.id %>"><%= manufac.name%></a> — Date created: <%= manufac.created_at %></h3>
<% end %>

