<h1>Borderlands Manufacturers</h1>

<a href="/new">New Manufacturer</a>


<% @manufacturers_sorted.each do |manufac| %>
  <h4><a href="/manufacturers/<%= manufac.id %>"><%= manufac.name%></a></h4>
  <button><a href="/manufacturers/<%= manufac.id %>/edit">Edit</a></button>
  <p> — Date created: <%= manufac.created_at %></p>

<% end %>

