<h1><%= @manufacturer.name %></h1>

<h3>Headquarters:</h3>
<%= @manufacturer.headquarters %>

<h3>Can produce elemental equipment?:</h3> 
<%= @manufacturer.elemental? %>

<h3>Borderlands games featured in:</h3> 
<%= @manufacturer.equipment_production_total %>
