<h1><%= @manufacturer.name %></h1>

<h3>Headquarters:</h3>
<%= @manufacturer.headquarters %>

<h3>Can produced elemental equipment?:</h3> 
<%= @manufacturer.elemental? %>

<h3>Borderlands games featured in:</h3> 
<%= @manufacturer.num_of_games_appeared_in %>
